.checkout{
    background-color: #fff;
    padding: 15px;
    margin: 20px;
    margin-top: 30px;
}

.checkout > div {
    margin: 15px 0;
}

.checkout .titulo-item {
    font-weight: bold;
    font-size: 20px;
    color: rgb(35, 88, 168);
    margin-bottom: 5px;
}

.checkout .item-valor {
    font-size: 25px;
    font-weight: bold;
}

.checkout .item-desc {

}

.termos{
    text-align: center;
    color: red;
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: bold;
}